<template>
  <div id="app">
    <Header/>
    <router-view/>
    <vue-progress-bar></vue-progress-bar>
    <Footer/>
  </div>
</template>

<script>
import Header from './components/Header'
import Footer from './components/Footer'
import Posts from './components/Posts'
export default {
  name: 'App',
  components: {
    Header,
    Footer,
    Posts
  }
}
</script>

<style>

</style>
