<template>
<center class="container w-50  my-5">
   <form class="form-horizontal">
      <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['title']">{{ errors['title'] }}</p>
      <input type="text" class="form-control rounded" v-model="creds.title" placeholder="Title">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['body']">{{ errors['body'] }}</p>
      <input type="text" class="form-control rounded" v-model="creds.body" placeholder="Body">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['image']">{{ errors['image'] }}</p>
      <button @click="browse" class="btn btn-default px-3 py-3 ">Choose photo</button>
      <input style="display: none;" type="file" class="form-control" ref="profileImage" placeholder="profile-image" @change="onImageChange">
            <div class="mt-2" v-if="this.creds.image">
                  <img :src="this.creds.image" class="img-responsive" height="300" width="500">
            </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['category_id']">{{ errors['category_id'] }}</p>
      <select class="form-control" v-model="creds.category_id"  placeholder="category">
          <option value="">select category</option>
          <option v-for="(category, index) in categories" v-bind:key="index" :value="category.id">{{ category.name.substring(0,10) }}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button @click="addPost" class="btn btn-primary py-3 px-5">add post</button>
    </div>
  </div>

</form>
</center>
</template>

<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
  name: 'AddPost',
  data () {
    return {
      creds: {
        title: 'ahmed ahmed ahmed',
        body: 'ahmed ahmed ahmed ahmed ahmed ahmed ahmed ahmed ahmed ahmed ahmed ',
        image: '',
        category_id: '',
      },
      errors: []
    }
  },
  computed: {
    ...mapGetters ([
        'categories',
        'active_user'
    ])
  },
  mounted () {
    this.$Progress.finish()
  },
  created () {
    this.$Progress.start()
  },
  methods: {
    onImageChange(e) {
        let files = e.target.files || e.dataTransfer.files;
        if (!files.length)return;
        this.createImage(files[0]);
        },
    createImage(file) {
        let reader = new FileReader();
        reader.onload = (e) => {
        this.creds.image = e.target.result;
        };
        reader.readAsDataURL(file);
        this.creds.image = file
        },  
    routeto (path) {
      this.$router.push(path)
    },
    browse () {
        this.$refs.profileImage.click()
    },
    ...mapActions([
      'addNewPost'
    ]),
    addPost () {
      this.$Progress.start()
      var validate = this.checkForm()
      if (validate) {
          this.creds.user_id = this.active_user.id
        this.addNewPost(this.creds).then(path => {
          this.$Progress.finish()
          this.routeto(path)
        })
          .catch(error => {
            if (error) {
              // console.log(error.response.data.errors);
              this.errors = []
              this.$Progress.finish()
              this.errors = error.response.data.errors
            }
          })
      }
    },
    checkForm: function () {
      this.errors = []
      if (!this.creds.title) {
        this.errors['title'] = 'title required.'
      }
       if (!this.creds.body) {
        this.errors['body'] = 'body required.'
      }
      if (!this.creds.category_id) {
        this.errors['category_id'] = 'category required.'
      }
      this.$Progress.finish()
      return !this.errors['title'] & !this.errors['body'] & !this.errors['category_id']
    }
  }
}
</script>

<style>
</style>
