<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand">Explorer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ml-auto">
            
              <li class="nav-item"><a  @click="navigate('/')"  class="nav-link">All Posts</a></li>
                <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a v-for="(category, index) in categories" v-bind:key="index" class="dropdown-item" @click="filter(category.id)">{{category.name.substring(0, 10)}}</a>
              </div>
            </li>

                <li class="nav-item"><a @click="navigate('contactus')"  class="nav-link">Contact</a></li>
                <li v-if="active_user.email === undefined" class="nav-item"><a @click="navigate('login')"  class="nav-link">login/register</a></li>
                <li v-else-if="active_user.email !== undefined" class="nav-item"><a @click="logout"  class="nav-link">logout</a></li>
              </ul>
            </div>
      </div>
    </nav>
     <div class="hero-wrap js-fullheight" v-bind:style="{ backgroundImage: 'url(' + background + ')' }" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Discover the wonder of the world</h1>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Find great places to stay, eat, shop, or visit from local experts</p>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
import Image from '../assets/images/bg_3.jpg'
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
  name: 'Header',
  data () {
    return { background: Image }
  },
  computed: {
    ...mapGetters([
      'posts',
      'active_user',
      'categories'
    ])
  },
  beforeMount () {
    this.getLoggedinUser()
    this.getCategories()
  },
  methods: {
    navigate (path) {
      this.$router.push(path)
    },
    ...mapActions([
      'getLoggedinUser',
      'getCategories',
      'filter'
    ]),
    logout () {
      localStorage.removeItem('token')
      this.getLoggedinUser()
      this.navigate('/login')
    }
  }

}
</script>

<style>
</style>
