<template>
<center class="container w-50  my-5">
   <form class="form-horizontal">
        <p class="alert alert-danger" v-if="errors['general']">{{ errors['general'] }}</p>
  <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['email']">{{ errors['email'] }}</p>
      <input type="email" v-model="creds.email" class="form-control rounded" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['password']">{{ errors['password'] }}</p>
      <input type="password" v-model="creds.password"  class="form-control rounded"  placeholder="Password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button  @click="login" class="btn btn-primary px-5">login</button>
    </div>
  </div>
  <small><p>dont have account ? <a @click="routeto('register')">register</a> </p></small>
</form>
</center>
</template>

<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
  name: 'Login',
  mounted () {
    this.$Progress.finish()
  },
  created () {
    this.$Progress.start()
  },
  data () {
    return {
      creds: {
        email: 'ahmedmoud@ymail.com',
        password: '123456'
      },
      errors: []
    }
  },
  methods: {
    login () {
      this.$Progress.start()
      var validate = this.checkForm()
      if (validate) {
        this.putLoggedinUser(this.creds).then(path => {
          this.$Progress.finish()
          this.routeto(path)
        })
          .catch(error => {
            if (error) {
              this.errors = []
              this.$Progress.finish()
              this.errors['general'] = 'email or password invalid'
            }
          })
      }
    },
    ...mapActions([
      'putLoggedinUser'
    ]),
    routeto (path) {
      this.$router.push(path)
    },
    checkForm: function () {
      this.errors = []
      if (!this.creds.email) {
        this.errors['email'] = 'email required.'
      }
      if (!this.creds.password) {
        this.errors['password'] = 'password required.'
      }
      return !this.errors['email'] & !this.errors['password']
    }
  }
}
</script>

<style>
</style>
