<template>
<div>

    <section class="ftco-intro">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-9">
                    <h1>We're <strong>Traveler</strong> &amp; <strong>Blogger</strong> from Paris, Italy Who Loves Documenting Adventures &amp; Discoveries Around the World</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <button v-if="active_user.userType_id == '1'" class="btn btn-primary p-3 mb-5" @click="navigate('/AddPost')">Add New Post <span>+</span></button>
           <div class="form-group" @change="onChangeFilter($event.target.value)">
              <select class="form-control w-25 border rounded-5">
                    <option value="">All categories</option>
                    <option v-for="(category, index) in categories" v-bind:key="index" :value="category.id">{{ category.name.substring(0,10) }}</option>
                </select>
           </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div v-for="(post, index) in posts.data" v-bind:key="index" class="blog-entry ">
                                <a href="#" class="img" v-bind:style="{ backgroundImage: 'url(' + post.image + ')' }"></a>
                                <div class="text pt-2 mt-5">
                                    <span class="big">South America</span>
                                    <h3 class="mb-4"><a href="#">{{ post.title }}</a></h3>
                                    <p class="mb-4">{{ post.body }}</p>
                                    <div class="author mb-4 d-flex align-items-center">
                                        <a href="#" class="img" v-bind:style="{ backgroundImage: 'url(' + person_1 + ')' }"></a>
                                        <div class="ml-3 info">
                                            <span>Written by</span>
                                            <h3><a href="#">{{ post.user.name }}</a>, <span> at {{ post.created_at }}</span></h3>
                                        </div>
                                    </div>
                                    <div class="meta-wrap d-md-flex align-items-center">
                                        <div class="half order-md-last text-md-right">
                                            <p class="meta">
                                                <!-- <span><i class="icon-heart"></i>3</span> -->
                                                <!-- <span><i class="icon-eye"></i>100</span> -->
                                                <span><i class="icon-comment"></i>{{ post.comments.length }}</span>
                                            </p>
                                        </div>
                                        <div class="half">
                                            <p><a @click="navigate('/post/' + index)" class="btn btn-primary p-3 px-xl-4 py-xl-3">Continue Reading</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col text-center">
                            <div class="block-27">
                                <ul>
                                    <li ><a @click="paginate(posts.prev_page_url)">&lt;</a></li>
                                    <li v-for="index in posts.last_page" :key="index" v-bind:class="(index == posts.current_page)?'active':''" ><a @click="paginate(posts.first_page_url.replace(/.$/,index))">{{ index }}</a></li>
                                    <li><a @click="paginate(posts.next_page_url)">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- END-->
                <div class="col-lg-4 sidebar ">
                    <div class="sidebar-box">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
                        </form>
                    </div>
                    <div class="sidebar-box ">
                        <h3>Categories</h3>
                        <ul class="categories">
                            <li v-for="(category, index) in categories" v-bind:key="index"><a @click="onChangeFilter(category.id)" >{{ category.name.substring(0, 10)}}<span>({{ category.post.length }})</span></a></li>
                        </ul>
                    </div>

                </div><!-- END COL -->
            </div>
        </div>
    </section>

</div>
</template>

<script>
import person from '../assets/images/person_1.jpg'
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'
import Echo from "laravel-echo";
window.Pusher = require('pusher-js')


window.Echo = new Echo({
  broadcaster: 'pusher',
  key: '9c11f78c253d5411456c',
  cluster: 'eu',
  encrypted: true
})

export default {
  name: 'Posts',
  mounted () {
    this.$Progress.finish()
    this.listen()
  },
  created () {
    this.$Progress.start()
    this.getPosts()
    this.getCategories()
  },
  computed: {
    ...mapGetters([
      'posts',
      'categories',
      'active_user'
    ])
  },
  data () {
    return {person_1: person}
  },
  methods: {
    ...mapActions([
      'getPosts',
      'getCategories',
      'paginate',
      'filter'
    ]),
    onChangeFilter (category_id){
            this.filter(category_id)
    },
    navigate (path) {
        this.$router.push(path)
    },
    listen () {
       window.Echo.channel('post-channel').listen('postEvent', (post) => {
            this.getPosts()
       })
    }
  }
}
</script>

<style>

</style>
