<template>
<center class="container w-50  my-5">
   <form class="form-horizontal">
      <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['name']">{{ errors['name'] }}</p>
      <input type="text" class="form-control rounded" v-model="creds.name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['email']">{{ errors['email'] }}</p>
      <input type="email" class="form-control rounded" v-model="creds.email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['password']">{{ errors['password'] }}</p>
      <input type="password" class="form-control" v-model="creds.password"  placeholder="Password">
    </div>
  </div>
   <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['image']">{{ errors['image'] }}</p>
      <button @click="browse" class="btn btn-default px-3 py-3 ">Choose photo</button>
      <input style="display: none;" type="file" class="form-control" ref="profileImage" placeholder="profile-image" @change="onImageChange">
            <div class="mt-2" v-if="this.creds.image">
                  <img :src="this.creds.image" class="img-responsive" height="300" width="500">
            </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
        <p class="alert alert-danger" v-if="errors['c_password']">{{ errors['c_password'] }}</p>
      <input type="password" class="form-control" v-model="creds.c_password"  placeholder="Confirm Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button @click="register" class="btn btn-primary px-5">register</button>
    </div>
  </div>
  <small><p> have account ? <a @click="routeto('login')">login</a> </p></small>

</form>
</center>
</template>

<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
  name: 'Register',
  data () {
    return {
      creds: {
        name: 'ahmed',
        email: 'ahmedmoud@ymail.com',
        image: '',
        password: '123456',
        c_password: '123456'
      },
      errors: []
    }
  },
  mounted () {
    this.$Progress.finish()
  },
  created () {
    this.$Progress.start()
  },
  methods: {
    browse () {
        this.$refs.profileImage.click()
    },
     onImageChange(e) {
        let files = e.target.files || e.dataTransfer.files;
        if (!files.length)return;
        this.createImage(files[0]);
        },
    createImage(file) {
        let reader = new FileReader();
        reader.onload = (e) => {
        this.creds.image = e.target.result;
        };
        reader.readAsDataURL(file);
        this.creds.image = file
        },  
    routeto (path) {
      this.$router.push(path)
    },
    ...mapActions([
      'registerNewUser'
    ]),
    register () {
      this.$Progress.start()
      var validate = this.checkForm()
      if (validate) {
        this.registerNewUser(this.creds).then(path => {
          this.$Progress.finish()
          // this.routeto(path)
        })
          .catch(error => {
            if (error) {
              // console.log(error.response.data.errors);
              this.errors = []
              this.$Progress.finish()
              this.errors = error.response.data.errors
            }
          })
      }
    },
    checkForm: function () {
      this.errors = []
      if (!this.creds.email) {
        this.errors['email'] = 'email required.'
      }
       if (!this.creds.name) {
        this.errors['name'] = 'name required.'
      }
      if (!this.creds.password) {
        this.errors['password'] = 'password required.'
      }
      if (this.creds.c_password !== this.creds.password) {
        this.errors['c_password'] = 'confirm password must be equal to password.'
      }
      return !this.errors['email'] & !this.errors['password'] & !this.errors['name'] & !this.errors['c_password']
    }
  }
}
</script>

<style>
</style>
