<template>
     <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ">
            <h2 class="mb-3 font-weight-bold">{{ post.title }}</h2>
            <p>{{ post.body }} </p>
            <p>
              <img :src="post.image" alt="" class="img-fluid">
            </p>


            <div class="pt-5 mt-5">
              <h3 class="mb-5">{{ post.comments.length }}  Comments</h3>
              <ul class="comment-list">
                <li v-for="(comment ,count) in post.comments" v-bind:key="count" class="comment">
                  <div class="vcard bio">
                    <img :src="comment.user.image" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>{{ comment.user.name }}</h3>
                    <div class="meta">{{comment.user.created_at}}</div>
                    <p>{{comment.body}}</p>
                  </div>
                </li>
              </ul>
              <!-- END comment-list -->
              
              <div v-if="(active_user.id != undefined)" class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="#" class="p-5 bg-light">
                 <p class="alert alert-danger" v-if="errors['body']">{{ errors['body'] }}</p>
                  
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" placeholder="leave comment...." v-model="comment" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                
                  <a @click="submitComment" class="btn py-3 px-4 btn-primary">Post Comment</a> 

                </form>
              </div>
              <div v-else> 
                <p>login to leave a comment <a @click="navigate('/login')">login here</a></p>
              </div>
            </div>

          </div> <!-- .col-md-8 -->
         

        </div>
      </div>
    </section> <!-- .section -->

</template>

<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'
import Echo from "laravel-echo";
window.Pusher = require('pusher-js')


window.Echo = new Echo({
  broadcaster: 'pusher',
  key: '9c11f78c253d5411456c',
  cluster: 'eu',
  encrypted: true
})

export default {
  
  name: 'SinglePost',
  data ()  {
    return {
      index: this.$route.params.index,
      comment: '',
      errors: [],
      post: {
        title: '',
        body: '',
        image: '',
        comments: []
      }
    }
  },
  created () {
    this.$Progress.start() 
    this.getPosts().then(res => {
    this.post = this.posts.data[this.$route.params.index]
    })
  },
  mounted () {
    this.$Progress.finish()
    this.listen()
  },
   computed: {
    ...mapGetters([
      'posts',
      'active_user'
    ])
   },
    methods : {
 ...mapActions([
      'getPosts',
      'createComment'
    ]),
    submitComment () {
      this.$Progress.start()
      if(!this.validate()){
        return ;
      }
      var $data = { 
        body: this.comment,
        user_id: this.active_user.id,
        post_id: this.posts.data[this.index].id,
        token: localStorage.token 
      }
      this.createComment($data).then(res=>{
          this.getPosts()
      }).catch(errors => {
        this.errors = errors.response.data.errors
      })
    },
    navigate (path) {
        this.$router.push(path)
    },
      validate: function () {
      this.errors = []
      if (!this.comment) {
        this.errors['body'] = 'comment required.'
      }
      this.$Progress.finish()
      return !this.errors['body']
    },
    listen () {
       window.Echo.channel('comment-channel' + post.id  ).listen('commentEvent', (comment) => {
            this.getPosts().then(res => {
              alert(1)
               this.post = this.posts.data[this.$route.params.index]
             })
       })
    }
  }
}
</script>
<style>

</style>
